.starting-modal {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  z-index: 2;
  padding: 3rem;
}

.starting-form {
  display: flex;
  justify-content: space-between;
}

.loader {
  display: none;
  width: 60px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: #fff;
  font-family: arial, sans-serif;
}

.loader-text:after {
  content: "Loading";
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: "Loading";
  }
  33% {
    content: "Loading.";
  }
  67% {
    content: "Loading..";
  }
  100% {
    content: "Loading...";
  }
}

#usage-blocker {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(30, 30, 30, 0.5);
  z-index: 1;
}

@media (max-width: 600px) {
  .starting-modal {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 0;
    width: 80%;
  }
}
@media (min-width: 601px) and (max-width: 960px) {
  .starting-modal {
    width: 60%;
  }
}
